.bid {
	font-weight:bold;
	background-color:#fff;
}
.dbl {
	font-weight:bold;
	color:#fff;
	background-color:#dd0000;
}
.rdbl {
	font-weight:bold;
	color:#fff;
	background-color:#000099;
}
.pass {
	font-weight:normal;
	color:#fff;
	background-color:#558855;
}
