a:link,a:visited {
	color:#5555f0 !important;
}
a:hover {
	color:#fff !important;
	background-color:#9999F0 !important;
	text-decoration:none;
}
body > center:first-child a:hover {
	background-color:transparent !important;
}
hr {
	color:#fff;
}
::-moz-selection {
	background:#a00;
	color:#fff;
}
::-webkit-selection {
	background:#a00;
	color:#fff;
}
::selection {
	background:#a00;
	color:#fff;
}
.large {
	font-size:100%;
	font-weight:700;
}
.x-large {
	font-size:100%;
}
#big {
	margin-top:5px;
}
#big > tbody > tr > td[width] {
	display:none;
}
table {
	border-collapse:collapse;
}
td[valign="top"]:last-child, #stbl {
	text-align:center;
}
td[valign="top"]:first-child, #stbl2 td:first-child, #stbl td:nth-child(8) {
	text-align:left;
}
#protocol-table tbody td:first-child, #stbl td:first-child, #stbl td:nth-child(5), #stbl td:nth-child(6), #stbl td:nth-child(7), #stbl2 td {
	text-align:right;
}
tr.even {
	background-color:#eee;
}
tr.own.odd {
	background-color:#dff0d8;
}
tr.own.even {
	background-color:#d0e9c6;
}
th, tfoot {
	border:1px solid #fff;
	outline:0;
	color:#009;
	background-color:#c4e3f3;
}
th {
	cursor:pointer;
	text-align:center;
}
th:hover {
	color:#fff;
	background-color:#a0c0f0;
}
#stbl, #stbl2, #progress-hands {
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
#stbl2 {
	width:100%;
}
#stbl2 tbody tr:hover {
	cursor:pointer;
	background-color:#cfeefe;
}
input[type=text], input[type=password], textarea, #progress-AN {
	margin:5px;
	padding:3px 4px 2px 4px;
	width:110px;
	border:1px solid #cccccc;
	border-radius:4px;
	transition:border linear 0.2s, box-shadow linear 0.2s;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline:0;
	border-color:rgba(82, 168, 236, 0.8);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.btn, input[type=submit] {
	background-image:linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat:repeat-x;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	border:1px solid #bbbbbb;
	border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border-bottom-color:#a2a2a2;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn, input[type=submit] {
	border-radius:4px;
	cursor:pointer;
	color:#333333;
	background-color:#f5f5f5;
	margin:2px;
	padding:2px 6px;
}
.btn:hover, input[type=submit]:hover {
	background-color:#e6e6e6;
	background-position:0 -15px;
	transition:background-position 0.1s linear 0s;
	background-image:linear-gradient(center top , #ffffff, #e6e6e6);
	text-decoration:none;
}
.btn:active, input[type=submit]:active {
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.large.btn {
	opacity:.8;
	padding:4px 12px;
	display:inline-block;
}
.large.btn, th {
	-moz-user-select:none;
	-webkit-user-select:none;
}
.is_on {
	color:#009 !important;
	background-color:#e4f2f8 !important;
}
.clicked {
	color:#fff !important;
	background-color:#c4e3f3 !important;
}
#chart {
	position:fixed;
	left:50%;
	margin-left:-440px;
	width:880px;
	z-index:99;
}

#protocol {
	display:table;
	text-align:center;
	white-space:nowrap;
	font-size:10px;
	position:absolute;
	right:10px;
	z-index:98;
}
#protocol-table td {
	border:1px solid #fff;
}
#chart, #progress, #protocol, #extstats {
	background-color:#e7d6c5;
	border:1px solid #999;
	border:1px solid rgba(0, 0, 0, 0.3);
	border-radius:8px;
	padding:20px;
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	background-clip:padding-box;
}
#progress-bids-contract table, #contr, #progress-tricks, #protocol-table {
	margin-bottom:15px;
	border:1px solid #fff;
	background-color:#eeddcc;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
