#progress {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:100;
	display:table;
	text-align:center;
	white-space:nowrap;
	height:21em;
	font-size:10px;
}
#progress-AN {
	font-size:10px;
	width:6em;
	background:none repeat scroll 0 0 #f5f5f5;
	float:left;
	margin-left:10px;
}
.progress-hand {
	width:13em;
	color:#fff;
}
.progress-name {
	margin-left:1em;
	font-size:14px;
	font-weight:700;
	display:inline;
}
#progress-hands {
	border:1px solid #fff;
	border-radius:8px;
	width:350px;
	height:240px;
	text-align:left;
	margin:16px;
	background:#585 no-repeat scroll center center;
}
#progress-N, #progress-S {
	margin-left:140px;
}
#progress-N {
	margin-top:12px;
}
#progress-E {
	float:right;
}
#progress-S {
	clear:both;
}
#progress-W {
	clear:left;
	float:left;
	margin-left:60px;
}
#progress-bids-contract {
	display:table-cell;
}
#progress-bids-contract td {
	padding:2px;
	width:4em;
}
#progress-tricks {
	margin:16px;
}
#progress-tricks td {
	width:50px;
}
#progress-tricks td:first-child {
	width:35px;
}
#progress-contract td {
	text-align:left;
	padding:2px 1em;
}
