.show {
	visibility:visible !important;
	opacity:1;
	-webkit-transition:opacity 0.2s linear;
	-webkit-transition-delay:0s;
	transition:opacity 0.2s linear;
	transition-delay:0s;
}
.hide {
	visibility:hidden !important;
	opacity:0;
	-webkit-transition:visibility 0s linear 0.2s,opacity 0.2s linear;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}
