body > table:first-child img[height="32"] {
	transition: transform 0.2s ease 0s;
}
body > table:first-child img[height="32"]:hover {
	transform: scale(1, 1.1);
	transition: transform 0.2s ease 0s;
}

